<h1 class="text-center">Sign Up</h1>
<div class="container">
    <div class="col-xs-6 col-xs-offset-3">
        <form action="javascript:void(0)">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" ng-model="user.username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" ng-model='user.password' id="password">
                <button ng-click="signup(user)">Submit</button>
                <!--<input class="btn btn-md btn-success" type="submit" value="Signup" ng-submit="signup(user)">-->
            </div>
        </form>
    </div>
</div>